.vs
Archive
GameData/**/*.dll
GameData/**/LICENSE*
GameData/**/NOTICE
GameData/**/README.md
GameData/**/CHANGE_LOG.md
GameData/**/KNOWN_ISSUES.md
GameData/**/*.version
Source/*/*.user
Source/**/*.blend1
bin
obj
packages
