//	This file is part of Hooligan Labs Airships Core
//		© 2018-2026 LisiasT
//		© 2013-2021 Jewel Shisen
//		© 2012-2013 Hooligan Labs
//
//	Hooligan Labs Airships Core is licensed as follows:
//		* MIT (Expat) : https://opensource.org/licenses/MIT
//
//	Hooligan Labs Airships Core is distributed in the hope that it will be useful,
//	but WITHOUT ANY WARRANTY; without even the implied warranty of
//	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
//
PART:NEEDS[HLAirshipsCore]
{
	// --- general parameters ---
	name = AirshipCap8
	module = Part
	author = LisiasT, Jewel Shisen

	// --- asset parameters ---
	MODEL
	{
		model = HLAirshipsCore/Parts/Aero/AirshipCap/model
		position = 0.0, 0.0, 0.0
		scale = 1.9820625, 1.9820625, 1.9820625
	}

	rescaleFactor = 1.25

	CrewCapacity = 0


	// --- node definitions ---
	node_stack_bottom = 0.0, 0.0, 0.0, 0.0, -1.0, 0.0, 2


	// --- editor parameters ---
	TechRequired = generalConstruction
	entryCost = 100
	cost = 780
	category = Aero
	subcategory = 0
	title = Airship Cap 2 Octo
	manufacturer = Jewel Shisen Rockets Inc.
	description = This specially made Airship Cap has been designed and tested by many trained individuals (aka a few monkeys) to ensure perfect performance (it fits close enough). Now available out of the box for the Octo Envelope!

	// attachment rules: stack, srfAttach, allowStack, allowSrfAttach, allowCollision
	attachRules = 1,0,0,1,1

	// --- standard part parameters ---
	mass = 1.55051899
	dragModelType = default
	maximum_drag = 0.2
	minimum_drag = 0.3
	angularDrag = 2
	crashTolerance = 6
	breakingForce = 195.855026
	breakingTorque = 195.855026
	maxTemp = 600
	bulkheadProfiles = Airship_Octo
}
@PART[AirshipCap8]:AFTER[HLAirshipsCore]:NEEDS[HLAirshipsCore]
{
	#@PART[HL_AirshipEnvelope_Octo]/MODULE[HLEnvelopePartModule] { }
	%MODULE[HLEnvelopePartModule]
	{
		// the (effective) volume of the blimp - affects the lifting capacity
		@envelopeVolume *= 0.17 	// Ratio between length of the cap and its matching envelope (0.26 * 65%)
	}
}
